.search-form{
	display: flex;
	align-items: center;
	a{
		margin-left: 1rem;
	}
}

.autocomplete{
	position: relative;
	display: inline-block;
	ul{
		background: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 2px 3px rgba(#000, 0.2);
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 99;
		li{
			cursor: pointer;
			list-style: none;
			padding: 8px;
			display: block;
			&:hover{
				background: #f0f0f0;
			}
		}
	}
}
