*{
	box-sizing: border-box;
}
html{
	font-size: $font-base;
}
body{
	color: $body-color;
	font-family: $font-default;
	font-size: 1rem;
}

.text-center{
	text-align: center;
}

.main-content{
	display: flex;
}

.aside-filters{
	padding: 1rem;
	width: 205px;
	ul{
		padding-left: 15px;
		li{
			list-style: none;
			padding: 2px 0;
			&:hover{
				small{
					display: block;
				}
			}
			small{
				display: none;
			}
			span{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}

.section-content{
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	article{
		min-width: 180px;
		flex: 0 0 33.3%;
		padding: 1rem;
		img{
			max-width: 70%;
		}
	}
}

.paginate{
	text-align: right;
	a{
		padding: 5px;
	}
}
