div.aside-filters
	h3 Búsquedas guardadas
	ul
		li(v-for="(item, index) in data.entities.saved")
			a(:href="item.url") {{item.label}}
			br
			small
				a(href="#") Editar
				span |
				a(href="#", @click="removeSaved(index)") Eliminar

	h3 Categorías
	ul
		li
			a(href="#") Todos
		li(v-for="item in data.entities.categories[0]")
			a(href="#") {{item.label}}

	h3 Idiaoma
	ul
		li
			a(href="#") Todos
		li(v-for="item in data.entities.lang[0]")
			a(href="#") {{item.label}}

	h3 Publicación
	ul
		li
			a(href="#") Todos
		li
			a(href="#") Hoy
		li
			a(href="#") Hace una semena
		li
			a(href="#") Hace un mes
		li
			a(href="#") Hace un año

	h3 Presentación
	ul
		li(v-for="item in data.entities.edition[0]")
			a(href="#") {{item.label}}
