.search-form
	div
		div.autocomplete
			input(type="text", placeholder="keyworks", v-model="search", @input="autocomplete = false")
			ul(v-if="search.length > 2 && !autocomplete")
				li(v-for="(item, index) in filteredData", v-if="index < 7", @click="search = item.title.toLowerCase(), autocomplete = true") {{item.title}}
		button(:disabled="search.length <= 2", @click="autocomplete = true") Buscar
		a(href="#", @click="saveSearch()") Guardar búsqueda
