doctype html
html(lang="es")
	head
		title Finder challenge
		meta(charset="utf-8")
		meta(viewport="width=device-width, initial-scale=1.0")
		link(href="/styles/index.css", rel="stylesheet")

	body
		.app#app
			header.header-page
				h1.logo Finder challenge!
				.search-form
					include blocks/search-form
			main.main-content
				aside
					include blocks/aside
				section
					include blocks/main
			footer
				include blocks/footer


		//- third party libraries
		script(src="/scripts/plugins.js")

		//- app scripts self
		script(src="/scripts/app.js")
